---
## general configuration
## modify this file for project-wide settings
##
## create a local_devstack.yaml and add it to .gitignore
## to override with personal settings (e.g. different IP)

path: /var/www/app_name
vhost: app-name.dev
ip: 192.168.56.112
box_name: mayflower/trusty64-puppet3
nfs: true

profile::database::mysql: true
profile::database::postgresql: false
profile::database::mongodb: false
profile::database::redis: false

profile::webserver::php: true
profile::webserver::hhvm: false

profile::javascript::nodejs: false
profile::javascript::less: false

profile::frontend::compass: false
profile::frontend::bower: false

profile::app::symfony2: true
profile::app::yii1: false
profile::app::yii2: false
profile::app::zend_framework1: false
profile::app::php_vhost: false  # simple vhost that sends all *.php to php-fpm
profile::app::standalone_app: false  # proxy to an app that comes with a webserver (rails, django, flask)

## mysql
component::mysql::root_password: root
component::mysql::databases:
  db_name:
    user: dev
    password: dev
    host: localhost
    grant: ['ALL']

## mongodb
# mongodb::server::smallfiles: true
# component::mongodb::databases:
#   db_name:
#     user: dev
#     password: dev

## postgresql
# component::postgresql::postgres_password: postgres
# component::postgresql::postgis: false
# component::postgresql::databases:
#   db_name:
#     user: 'dev'
#     password: 'dev'

# component::standalone_app::port: 5000
# component::standalone_app::prefix: api  # results in proxy from $vhost/api to localhost:$port
# component::standalone_app::path: /var/www/app_name/static

# component::yii1::path: /var/www/app_name/app # path to folder containing index.php

## php
php::extensions:
  curl: {}
  json: {}
  intl: {}
  mysql: {}
  apc:
    package_prefix: php-
    config:
      - 'set .anon/apc.stat 1'
      - 'set .anon/apc.stat_ctime 1'
  xdebug:
    config:
      - 'set .anon/xdebug.max_nesting_level 1000'
      - 'set .anon/xdebug.remote_enable On'
      - 'set .anon/xdebug.default_enable On'
      - 'set .anon/xdebug.remote_connect_back On'

php::fpm::settings:
  - 'set Date/date.timezone Europe/Berlin'
php::cli::settings:
  - 'set Date/date.timezone Europe/Berlin'
